/* Header.css */

.home {
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  background-color: #343641;
  border-radius: 8px;
}

/* Masonry grid container */
.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust column width */
  gap: 15px; /* Space between items */
  grid-auto-flow: dense; /* Enables the Masonry effect */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343641;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.05);
}

.square {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

.square-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.rectangle {
  margin-top: 10px;
  width: 100%;
}

.caption {
  text-align: center;
  font-size: 0.9rem;
  color: #a7a7a7;
}
