
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    top: 10; /* Aligns it to the top */
    right: 0; /* Aligns it to the right */
    background-color: #c0925b; /* Background color */
    padding: 10px 20px; /* Padding around the navbar */
    width: auto; /* Adjusts width dynamically */
  }



.fabricSample
{

  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

}

img
{
  max-width: 100%;
  height: 25px;
}
  
  .navbar-list {
    position: right;
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: flex-end; /* Aligns items to the right */
    list-style: none; /* Removes default list style */
    padding: 0;
    margin: 0;
    display: flex; /* Horizontal alignment of list items */
  }
  
  .navbar-list li {
    margin: 0 10px; /* Adds space between list items */
  }
  
  .navbar-list li a {
    color: white; /* Link color */
    text-decoration: none; /* Removes underline */
    padding: 10px; /* Padding inside links */
  }
  
  .navbar-list li a:hover {
    background-color: #444; /* Background color on hover */
    border-radius: 5px; /* Rounded corners on hover */
  }
  