navbar.css

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  justify-content: flex-end;
  top: 0px;
  right: 0;
  background-color: #343641;
  padding: 10px 20px;
  width: 100vw;
  z-index: 1000;
  border-radius: 8px;
}

.fabricSample {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: -7px;
  left: 10px;
  z-index: 1001;
}

.fabricSample img {
  max-width: 100%;
  height: 30px;
  width: auto;
}

img {
  max-width: 100%;
  height: 30px;
}

@media (max-width: 768px) {
  .navbar {
    position:fixed; /* Make the navbar stick to the bottom */
    bottom: 0; /* Navbar will now be at the bottom */
    top: auto; /* Remove the top position */
    right: 0; 
    width: 100vw; /* Full width */
    flex-wrap: nowrap; /* Prevent items from wrapping */
    border-radius: 0; /* Remove border radius to fit the screen edge */
  }

  .fabricSample {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: -7px;
    left: 10px;
    z-index: 1001;
  }
}

/* Adjust dropdown positioning for small screens */
.dropdown-menu {
  top: auto; 
  bottom: 100%; 
}

img {
  max-width: 100%;
  height: 25px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  flex-direction: row;
}

.navbar-list li {
  margin: 0 1px;
}

.navbar-list li a {
  color: rgb(191, 141, 93);
  text-decoration: none;
  padding: 10px;
}

.navbar-list li a:hover {
  background-color: #444;
  border-radius: 5px; 
}

/* Dropdown Menu Styling */
.dropdown-menu {
  display: flex; /* Horizontal layout */
  flex-direction: row;
  position: absolute;
  top: 100%; /* Dropdown appears below the navbar */
  background-color: #343641; /* Same as navbar background color */
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 999; /* Ensure dropdown is above other elements */
  align-items: center;
}

@media (max-width: 768px) {
  .dropdown-menu {
    top: auto;
    bottom: 100%; /* When the navbar is at the bottom, show the dropdown above */
    padding: 10px; /* Reduced padding for small screens */
  }
}

.dropdown-menu li {
  list-style: none; /* Removes bullets */
  margin-right: 10px;
}

.dropdown-menu li:last-child {
  margin-right: 0;
}

.dropdown-menu li a {
  color: rgb(191, 141, 93); /* Dropdown link color */
  text-decoration: none;
  padding: 10px;
}

.dropdown-menu li a:hover {
  background-color: #444; /* Hover background color */
  border-radius: 10px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: rgb(191, 141, 93); /* Same color as the other links */
  cursor: pointer;
  font-size: 1rem;
  padding: 0px;
}

.logout-button:hover {
  background-color: #444; /* Same hover color as other buttons */
  border-radius: 5px;
}

