body, .app-background {
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.app-background {
  position: relative;
  z-index: -1;
}

.settings-container {
  margin: 20px;
  margin-top: 40px;
  padding: 20px;
  background-color: #2e2f38ce;
  color: #fff;
  border-radius: 10px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.settings-options {
  display: flex;
  justify-content: space-between;
}

.background-options {
  flex: 1;
  margin-right: 40px;
  
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnail:hover {
  border: 2px solid #343641ce;
}

/* "Coming Soon" text style */
.coming-soon-text {
  color: #b9916b; /* Gold color for emphasis */
  font-style: italic;
  margin-bottom: 10px;
}

.contactBox {
  margin-top: 40px;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  max-width: 400px;
  line-height: 1.5;
  text-align: center;
}
